.wrapper-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: theme-palette-color('color', 'primary');
  width: 100%;
  height: 60px;
  text-align: center;
  span{
    font-size: 18px;
    color: white;
  }
}
