.appointment-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;



  .close-profile {
    position: absolute;
    top: -10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 12px;
    z-index: 2;

    em {
      color: #0077ff;
      font-size: 20px;
      cursor: pointer;
    }

    em:hover {
      color: red;
    }
  }

  .appointment-list{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;


    h2 {
      color: #0077ff;
      font-size: 24px;
    }

    ul {
      width: 100%;
      height: 86%;
      overflow: scroll;
      list-style: none;
      padding: 0;
      margin: 0;

      /* Regla para ocultar la barra de desplazamiento en navegadores WebKit */
      &::-webkit-scrollbar {
        display: none;
      }

      li {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0;

        .info-appointment {
          display: flex;
          justify-content: center;
          flex-direction: column;

          span {
            font-size: 14px;
            margin: 5px 0;
          }

          .btn-banger {
            margin: 0 10px;
            padding: 6px;
            background-color: #FF3333;
            color: #fff;
            border: none;
            outline: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            transition: background-color 0.3s, color 0.3s;

            &:hover {
              background-color: red;
            }
          }
        }

        .appointment-img-doctor {
          position: relative;
          height: 170px;


          span{
            text-align: center;
            width: 110px;
            position: absolute;
            bottom: 0;
            right: 10px;
            background-color: white;
            padding: 6px;
          }

          img{
            width: 110px;
          }
        }
      }
    }
  }



}

@media (max-width: 500px) {
  .appointment-container{
    .appointment-card{
      width: 100% !important;

      .info-appointment{

        .btn-banger{
          padding: 4px;
        }
      }

      .appointment-map {
        display: flex;
        align-items: center;
        .map{
          width: 100px;
          height: 100px;
        }
      }
    }

  }

}


