<div class="appointment-container">
  <div class="close-profile">
    <em class="fa fa-close" (click)="close()"></em>
  </div>

  <div class="appointment-list">
    <h2>Mis Citas</h2>
    <ul>

    <li *ngFor="let cita of citas; let i = index">
      <div class="info-appointment">
        <span>Dirección: {{ cita.appointment_address}}</span>
        <span>Especialidad: {{ cita.speciality_name }}</span>
        <span>Fecha: {{ cita.appointment_date.split('T')[0] }}</span>
        <span>Hora: {{ cita.appointment_time }}</span>
        <button (click)="deleteAppointment(cita.appointment_id)" class="btn-banger">Cancelar cita</button>
      </div>
      <div class="appointment-img-doctor">
        <img [src]="cita.doctor_image" alt="">
        <span>{{ cita.doctor_name }} {{ cita.doctor_last_name }}</span>

      </div>
    </li>
    </ul>

  </div>


</div>
