<div class="modal-overlay" >
  <div class="modal-content" >
    <h2>Relación entre Agendar Citas y Green IT</h2>
    <ul>
      <li><strong>Reducción de Papel:</strong> Una plataforma digital para agendar citas reduce la necesidad de utilizar papel, contribuyendo a la sostenibilidad al disminuir el uso de recursos naturales y la generación de residuos.</li>
      <li><strong>Eficiencia Energética:</strong> Si la página está alojada en servidores que utilizan energías renovables o están optimizados para ser energéticamente eficientes, esto contribuye a los principios de Green IT.</li>
      <li><strong>Acceso Remoto:</strong> Facilitar la programación de citas en línea reduce la necesidad de desplazamientos físicos, lo que a su vez reduce la emisión de gases de efecto invernadero asociados con el transporte.</li>
      <li><strong>Optimización de Recursos:</strong> Al permitir una mejor gestión del tiempo y de los recursos humanos, una página de agendar citas puede ayudar a reducir el consumo innecesario de energía y recursos en las oficinas o clínicas.</li>
      <li><strong>Tecnología Sustentable:</strong> Si la página se desarrolla y mantiene con prácticas de desarrollo sostenible, como el uso de hardware reciclable o software optimizado para menor consumo energético, se alinea con los principios de Green IT.</li>
    </ul>
  </div>
</div>
