.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  width: 800px;
  height: 600px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.modal-content h2 {
  margin-top: 0;
  text-align: center;
  color: green;
}

.modal-content ul {
  list-style: none;
  padding: 0;
}

.modal-content ul li {
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 6px;
  font-size: 16px;
  border: 1px solid green;

  &:hover{
    cursor: pointer;
    box-shadow: 0 0 6px 3px green;
  }
}

.modal-content ul li strong {
  color: green;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.close-button:hover {
  background: #c0392b;
}
