@import "../themes/theme";
.form-container {
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;

  .form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4px;

    .form-label {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 2px;
      font-size: 14px;
      pointer-events: none;
    }

    .form-input {
      width: 100%;
      min-height: 38px;
      box-sizing: border-box;
      padding: 6px;
      font-size: 16px;
      outline: none;
      border: none;
      border-bottom: 1px solid theme-palette-color('color', 'primary');
    }
    .form-ng-select {
      width: 100%;
      font-size: 16px;
      outline: none;
    }


    .form-line {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: theme-palette-color('color', 'primary');
      transform: scale(0);
      transform-origin: left bottom;
      transition: transform .4s;
    }

    .form-input:focus ~ .form-line {
      transform: scale(1);
    }

    //PARA EL LABEL QUE HACE LA ANIMACION DE SUBIR
    //.form-input:focus + .form-label, .form-input:not(:placeholder-shown) + .form-label {
    //  transform: scale(.90) translateY(-97%) translateX(-10%);
    //  padding-bottom: 8px;
    //  z-index: 2;
    //}
  }
}
