<div class="wrapper-register">
  <div class="register-container">
    <div class="register-image">
      <img src="assets/images/auth/register.jpg" alt="Imagen de inicio de sesión">
    </div>
    <div class="register-form">
      <h1>Registrate</h1>
      <form [formGroup]="register" class="grid" (ngSubmit)="sendRegister()">
        <div class="col-12">
          <h4>Datos de la persona</h4>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
          <div class="form-container">
            <div class="form-group">
              <label class="form-label"><em class="icon-user"></em> Nombres</label>
              <input class="form-input" appInputMask="words" appValidateErrors type="text" placeholder="" formControlName="person_name">
              <span class="form-line"></span>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
          <div class="form-container">
            <div class="form-group">
              <label class="form-label"><em class="icon-user"></em> Apellidos</label>
              <input class="form-input" appInputMask="words" appValidateErrors type="text" placeholder="" formControlName="person_last_name">
              <span class="form-line"></span>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
          <div class="form-container">
            <div class="form-group">
              <label class="form-label"><em class="icon-id-card"></em> Documento</label>
              <input class="form-input" appInputMask="integer" appValidateErrors type="text" placeholder="" formControlName="person_document">
              <span class="form-line"></span>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
          <div class="form-container">
            <div class="form-group">
              <label class="form-label"><em class="icon-phone"></em> Teléfono</label>
              <input class="form-input" appInputMask="integer" appValidateErrors type="text" placeholder="" formControlName="person_phone">
              <span class="form-line"></span>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
          <div class="form-container">
            <div class="form-group">
              <label class="form-label"><em class="icon-direction"></em> Dirección</label>
              <input class="form-input" appInputMask="words" appValidateErrors type="text" placeholder="" formControlName="person_address">
              <span class="form-line"></span>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6 ">
          <div class="form-container">
            <div class="form-group">
              <label class="form-label"><em class="icon-envelope"></em> Correo</label>
              <input class="form-input" appInputMask="email" appValidateErrors type="text" placeholder="" formControlName="person_email">
              <span class="form-line"></span>
            </div>
          </div>
        </div>
        <div class="col-12">
          <h4>Datos de acceso</h4>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
          <div class="form-container">
            <div class="form-group">
              <label class="form-label"><em class="icon-user"></em> Usuario</label>
              <input class="form-input" appInputMask="alphaNumeric" appValidateErrors type="text" placeholder="" formControlName="user_name">
              <span class="form-line"></span>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
          <div class="form-container">
            <div class="form-group">
              <label class="form-label"><em class="icon-padlock"></em> Contraseña</label>
              <input class="form-input" type="password" appValidateErrors placeholder="" formControlName="password">
              <span class="form-line"></span>
            </div>
          </div>
        </div>
        <div class="content-btn-redirect-login">
          <span type="submit">¿Ya tienes una cuenta? <span (click)="goBack()" class="login-btn-register">inicia sesión</span></span>
        </div>
        <button class="btn-general" type="submit">Registrate</button>
      </form>
    </div>
  </div>
</div>
