<app-header></app-header>
<div class="wrapper-main-doctor">
  <div class="main-doctor--top">
    <div class="main-doctor--top__left">
      <span class="name-doctor">{{ doctor.doctor_name + " " + doctor.doctor_last_name }}</span>
      <span class="speciality-doctor">Medico general</span><!--falta en el back-->
      <span class="info-speciality">{{ doctor.doctor_description }}</span>
      <div class="content-form-doctor"><!--falta en el back-->
        <form class="grid" [formGroup]="scheduleAppointment" (ngSubmit)="sendScheduleAppointment()">

          <div class="col-6 md:col-6 lg:col-6">
            <div class="form-container datepicker">
              <div class="form-group">
                <label class="form-label">Fecha de la cita</label>
                <input [matDatepicker]="personBirthdate"
                       [min]="dateNow" appValidateErrors class="form-input"
                       formControlName="birthdate" matInput
                       placeholder="DD/MM/YYYY">
                <mat-datepicker-toggle [for]="personBirthdate" class="button"
                                       matSuffix>
                </mat-datepicker-toggle>
                <mat-datepicker panelClass="datepickerOne" #personBirthdate></mat-datepicker>
              </div>
            </div>
          </div>

          <div class="col-6 md:col-6 lg:col-6">
            <div class="form-container">
              <div class="form-group">
                <label class="form-label"> Hora de la Cita</label>
                <ng-select [items]="appointmentTime"
                           bindValue="value"
                           bindLabel="label"
                           appValidateErrors
                           class=" custom-two form-ng-select"
                           formControlName="time"
                           placeholder="Seleccione una opción">
                </ng-select>
              </div>
            </div>
          </div>

          <div class="col-6 md:col-6 lg:col-6">
            <div class="form-container">
              <div class="form-group">
                <label class="form-label"> Especialidad</label>
                <ng-select [items]="speciality"
                           bindValue="value"
                           bindLabel="label"
                           appValidateErrors
                           class=" custom-two form-ng-select"
                           formControlName="specialty"
                           placeholder="Seleccione una opción">
                </ng-select>
              </div>
            </div>
          </div>


          <div class="form-content form-content-button">
            <button class="btn-form-send" type="submit" (click)="asd()">Solicitar</button>
          </div>
        </form>
      </div>
      <div class="content-info-doctor">
        <div class="card-info-doctor">
          <span>Telefono <em class="icon-phone"></em> </span>
          <span>{{ doctor.doctor_phone }}</span>
        </div>
        <div class="card-info-doctor">
          <span>Correo <em class="icon-envelope"></em></span>
          <span>{{ doctor.doctor_email }}</span>
        </div>
        <div class="card-info-doctor">
          <span>Direccion <em class="icon-map"></em></span>
          <span>{{ doctor.doctor_address }}</span>
        </div>
      </div>
    </div>
    <div class="main-doctor--top__right">
      <div class="content-img">
        <img [src]=doctor.doctor_image alt="Doctor img">
      </div>
    </div>
  </div>
  <!--  <div class="main-doctor&#45;&#45;center">-->
  <!--    <span>Mas informacion</span>-->
  <!--  </div>-->
  <!--  <div class="main-doctor&#45;&#45;bottom">-->
  <!--    <span class="doctor-bottom&#45;&#45;info">Nuestros doctores asociados son especialistas en cada area que tiene como fin el tratamiento de las enfermedades auditivas</span>-->
  <!--    <div class="doctor-bottom&#45;&#45;content-card">-->
  <!--      <div class="card-bottom-doctor">-->
  <!--        <span class="text-title">Medicos calificados</span>-->
  <!--        <span class="text-content">Medicos certificados para el tratamiento de las personas</span>-->
  <!--      </div>-->
  <!--      <div class="card-bottom-doctor">-->
  <!--        <span class="text-title">Informacion online</span>-->
  <!--        <span class="text-content">Tendras acceso desde cualquier lado a nuestra plataforma</span>-->
  <!--      </div>-->
  <!--      <div class="card-bottom-doctor">-->
  <!--        <span class="text-title">Servicio privado</span>-->
  <!--        <span class="text-content">Tu informacion esta asegurada con nosotros</span>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
