//
//.login-container {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  text-align: center;
//  width: 100%;
//  height: 100vh;
//  background-color: #edeff2;
//  border-radius: 5px;
//  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//  padding: 20px;
//}
//
//.login-form {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  flex-direction: column;
//  width: 50%;
//  height: 400px;
//  border-radius: 8px;
//  margin: 50px;
//  flex: 1;
//  background-color: white;
//
//
//
//  h1 {
//    margin: 0 0 20px;
//    font-size: 24px;
//  }
//
//  form {
//    display: flex;
//    justify-content: center;
//    flex-direction: column;
//    width: 60%;
//
//    .form-group {
//      text-align: left;
//      margin: 10px 0;
//
//      label {
//        font-size: 14px;
//        display: block;
//      }
//
//      input {
//        width: 100%;
//        padding: 10px;
//        font-size: 16px;
//        border: 1px solid #ccc;
//        border-radius: 5px;
//      }
//    }
//
//    .get-into {
//      background-color: #0077FF;
//      color: #fff;
//      border: none;
//      padding: 10px;
//      border-radius: 5px;
//      font-size: 16px;
//      cursor: pointer;
//      margin-top: 10px;
//
//      &:hover{
//        background-color: blue;
//      }
//    }
//    .color-orange{
//      background-color: lightskyblue;
//    }
//  }
//}
//
//.login-image {
//  flex: 1;
//  text-align: center;
//  padding: 20px;
//
//  img {
//    border-radius: 8px;
//    max-width: 100%;
//  }
//}
//
//
//@media (max-width: 1000px) {
//  .login-container{
//
//    .login-image{
//      display: none;
//    }
//  }
//
//}
//
//@media (max-width: 600px) {
//  .login-container{
//
//    .login-form{
//      margin: 0;
//    }
//
//  }
//
//}
//@media (max-width: 420px) {
//  .login-container{
//
//    background-color: white;
//    display: flex;
//    align-items: center;
//    justify-content: center;
//
//    .login-form{
//      form{
//        width: 90%;
//      }
//    }
//  }
//
//}
//


.wrapper-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: theme-palette-color('color', 'primary');

  .login-container {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .login-form {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex: 1;
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px;
      background-color: theme-palette-color('background', 'secondary');

      h1 {
        margin: 0 0 20px;
        font-size: 24px;
        color: theme-palette-color('color', 'primary');
      }

      form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 60%;
      }

      .content-btn-redirect-register{
        display:flex;
        justify-content: right;

        .login-btn-register{
          text-align: right;
          padding: 6px;
          cursor: pointer;
          color: theme-palette-color('color', 'primary');
          text-decoration: underline;

          &:hover{
            color:theme-palette-color('color', 'secondary') ;
          }
        }
      }
    }

    .login-image {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      height: 100%;
      flex: 1;
      background-color: theme-palette-color('background', 'secondary');
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;

      img {
        border-radius: 8px;
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 1000px) {
  .wrapper-login {
    .login-container {
      position: relative;
      .login-image {
        display: none !important;
      }
      .login-form{
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
      }
    }
  }
}

@media (max-width: 550px) {
  .wrapper-login {
    .login-container {
      width: 100% !important;
      height: 100% !important;
      .login-form {
        form{
          width: 90% !important;
        }
      }
    }
  }
}


