.wrapper-register{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: theme-palette-color('color', 'primary');

  .register-container{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .register-form {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex: 1;
      padding: 20px 0;
      overflow: auto;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;
      background-color: theme-palette-color('background', 'secondary');

      h1 {
        margin-bottom: 10px;
        font-size: 24px;
        color: theme-palette-color('color', 'primary');
      }



      form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;

        h4 {
          display: flex;
          color: theme-palette-color('color', 'primary');
        }
      }

      .content-btn-redirect-login{
        display:flex;
        justify-content: right;
        width: 100%;
        margin: 10px;

        .login-btn-register{

          text-align: right;
          padding: 6px;
          cursor: pointer;
          color: theme-palette-color('color', 'primary');
          text-decoration: underline;

          &:hover{
            color:theme-palette-color('color', 'secondary') ;
          }


        }
      }
    }

    .register-image {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      height: 100%;
      flex: 1;
      background-color: theme-palette-color('background', 'secondary');
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px;

      img {
        border-radius: 8px;
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 1000px) {
  .wrapper-register{
    .register-container{
      position: relative;
      .register-image{
        display: none !important;
      }
      .register-form{
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
      }
    }
  }
}

@media (max-width: 768px) {
  .wrapper-register{
    .register-container{
      .register-form{
        justify-content: flex-start;
      }
    }
  }

}

@media (max-width: 550px) {
  .wrapper-register{
    .register-container{
      width: 100% !important;
      height: 100% !important;
      .register-form{
        form{
          width: 90% !important;
        }
      }
    }
  }
}


